# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store

# Optional: Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
